/**************************************************
 * CSS Stylesheet for Zohra's
 *
 * @author David Mancini <hello@madebymancini.com
 *************************************************/

 /************************************************
  * Global styles
  ***********************************************/
body {
  background-color: #C8B397;
}

.jumbotron {
  background: url("../images/greek-plate.jpg") no-repeat center center;
  background-color: #836C59;
  background-blend-mode: multiply;
  color: white;
}

.panel-default > .colorHeading {
  color: white;
  background: #275E8E;
  border-color: #275E8E;
}

.panel-default {
  border-color: #275E8E;
}

.swipeboxImage {
  padding-bottom: 5px;
}
.panelHeading {
  background: #275E8E;
  color: black;
}

.boxHeading {
	color: white;
  background-color: #275E8E;
  font-size: 1.2em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  padding: 5px;
	margin-top: 10px;
}

.boxContent {
	background-color: white;
	text-align: left;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
}

.box {

}
